@import 'tailwindcss';

:root {
  --white: #ffffff;

  --body-color: #f3f4f7;
  --secondary-body-color: #ebe9fe;
  --primary-color: #667085;
  --secondary-color-light: #344054;
  --secondary-color: #1b0b3b;
  --secondary-color-medium: #101828;
  --accent-color: #5925dc;
  --blue-color: #4a43a7;

  --gray-200: #eaecf0;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #1d2939;
  --gray-900: #101828;

  --purple-500: #7a5af8;
  --purple-700: #5925dc;
  --purple-950: #27115f;

  --header-color: #fff;

  --border-color: #bdb4fe;
}

body {
  background-color: var(--body-color);
  min-height: 100vh;
  overflow-x: hidden;
  color-scheme: light dark;
  overflow-x: hidden;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-x {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
